<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<div class="body-home">

  <div class="tab">
    <button class="tablinks"  id="defaultOpen" [routerLink]="['../vet-profile']">Profilim</button>
    <button class="tablinks" [routerLink]="['../vet-meeting']" >Randevularım</button>
    <button class="tablinks" [routerLink]="['../vet-source-clinic']" >Klinik Ara</button>
  </div>


  <div>
     <app-root></app-root>
  </div>
  <!-- <div id="Profil" class="tabcontent">



  </div>t

  <div id="Randevu" class="tabcontent">
    <button class="accordion">Veteriner Hekim:  {{hekim1}}
      <i class="fa fa-chevron-circle-down"></i>
    </button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>


  <div id="Search" class="tabcontent">


    <label for="">Şehir</label>
    <input list="cityName">

                <datalist id="cityName">
                      <option value="İstanbul">
                      <option value="Ankara">
                      <option value="İzmir">
                      <option value="Antalya">
                      <option value="Trabzon">
                      <option value="Kars">
                      <option value="Bursa">
                      <option value="izmit">
                      <option value="...">

                </datalist>

  </div>
</div> -->


